flask
flask-cors
gunicorn

langchain
langchain-core
langchain-community
langchain-openai
langchain-mistralai
langchainhub

tavily-python

beautifulsoup4
requests
lxml

python-dotenv

httpx
aiohttp

pydantic
typing-extensions

tiktoken
rich

orjson
tenacity
ipython